<section>
  <h1>Breadcrumbs</h1>
  <p>
    Caminhos de navegação para hierarquias de páginas, ajudando na orientação do
    usuário.
  </p>

  <!-- Exemplo de Breadcrumbs -->
  <nav class="breadcrumbs">
    <a href="#" class="breadcrumb">Início</a>
    <span class="separator">/</span>
    <a href="#" class="breadcrumb">Categoria</a>
    <span class="separator">/</span>
    <a href="#" class="breadcrumb active">Subcategoria</a>
  </nav>

  <!-- Bash com o Código -->
  <div class="code-container">
    <pre>
        &lt;!-- Breadcrumbs --&gt;
        &lt;nav class="breadcrumbs"&gt;
          &lt;a href="#" class="breadcrumb"&gt;Início&lt;/a&gt;
          &lt;span class="separator"&gt;/&lt;/span&gt;
          &lt;a href="#" class="breadcrumb"&gt;Categoria&lt;/a&gt;
          &lt;span class="separator"&gt;/&lt;/span&gt;
          &lt;a href="#" class="breadcrumb active"&gt;Subcategoria&lt;/a&gt;
        &lt;/nav&gt;
      </pre
    >
    <button class="copy-btn" onclick="copyToClipboard(this)">Copiar</button>
  </div>
</section>
