<section>
  <h1>Botões</h1>
  <p>
    Os botões disponíveis incluem estilos primários, outlined, pequenos, com
    ícones e grupos.
  </p>

  <div class="buttons-demo">
    <!-- Botões Normais -->
    <button class="btn primary">Primário</button>
    <button class="btn outlined">Outlined</button>
    <button class="btn small">Pequeno</button>

    <!-- Botões com Ícones -->
    <button class="btn primary icon">
      <span>
        <i class="fas fa-download">D</i>
      </span>
    </button>
    <button class="btn outlined icon">
      <i class="fas fa-upload">U</i>
    </button>
    <button class="btn small icon">
      <i class="fas fa-edit">E</i>
    </button>
  </div>

  <!-- Botões em Grupo -->
  <div class="button-group">
    <button class="btn group-item primary">Esquerda</button>
    <button class="btn group-item outlined">Centro</button>
    <button class="btn group-item primary">Direita</button>
  </div>

  <!-- Bash com o código -->
  <div class="code-container">
    <pre>
          &lt;!-- Botões principais --&gt;
          &lt;button class="btn primary"&gt;Primário&lt;/button&gt;
          &lt;button class="btn outlined"&gt;Outlined&lt;/button&gt;
          &lt;button class="btn small"&gt;Pequeno&lt;/button&gt;
  
          &lt;!-- Botões com ícones --&gt;
          &lt;button class="btn primary icon"&gt;
            &lt;img src="icons/download.png" alt="Ícone de Download" /&gt;
            Download
          &lt;/button&gt;
  
          &lt;!-- Botões em grupo --&gt;
          &lt;div class="button-group"&gt;
            &lt;button class="btn group-item primary"&gt;Esquerda&lt;/button&gt;
            &lt;button class="btn group-item outlined"&gt;Centro&lt;/button&gt;
            &lt;button class="btn group-item primary"&gt;Direita&lt;/button&gt;
          &lt;/div&gt;
        </pre
    >
    <button class="copy-btn" onclick="copyToClipboard(this)">Copiar</button>
  </div>
</section>
