<section>
  <h1>Grids Responsivos</h1>
  <p>
    Sistema de grade customizado com exemplos de layout flexíveis para
    diferentes tamanhos de tela.
  </p>

  <!-- Grade Responsiva -->
  <div class="grid-container">
    <div class="grid-item">1</div>
    <div class="grid-item">2</div>
    <div class="grid-item">3</div>
    <div class="grid-item">4</div>
    <div class="grid-item">5</div>
    <div class="grid-item">6</div>
  </div>

  <!-- Bash com o Código -->
  <div class="code-container">
    <pre>
        &lt;div class="grid-container"&gt;
          &lt;div class="grid-item"&gt;1&lt;/div&gt;
          &lt;div class="grid-item"&gt;2&lt;/div&gt;
          &lt;div class="grid-item"&gt;3&lt;/div&gt;
          &lt;div class="grid-item"&gt;4&lt;/div&gt;
          &lt;div class="grid-item"&gt;5&lt;/div&gt;
          &lt;div class="grid-item"&gt;6&lt;/div&gt;
        &lt;/div&gt;
      </pre
    >
    <button class="copy-btn" onclick="copyToClipboard(this)">Copiar</button>
  </div>
</section>
