<section>
  <h1>Loaders</h1>
  <p>
    Animações de carregamento com diferentes estilos, tamanhos e
    funcionalidades.
  </p>

  <!-- Spinners -->
  <div class="loader-demo">
    <div class="spinner small"></div>
    <div class="spinner medium"></div>
    <div class="spinner large"></div>
  </div>

  <!-- Barra de Progresso -->
  <div class="loader-demo">
    <div class="progress-bar">
      <div class="progress" style="width: 40%">40%</div>
    </div>
    <div class="progress-bar">
      <div class="progress" style="width: 70%">70%</div>
    </div>
    <div class="progress-bar">
      <div class="progress" style="width: 90%">90%</div>
    </div>
  </div>

  <!-- Bash com o Código -->
  <div class="code-container">
    <pre>
        &lt;!-- Spinner --&gt;
        &lt;div class="spinner small"&gt;&lt;/div&gt;
        &lt;div class="spinner medium"&gt;&lt;/div&gt;
        &lt;div class="spinner large"&gt;&lt;/div&gt;
  
        &lt;!-- Barra de Progresso --&gt;
        &lt;div class="progress-bar"&gt;
          &lt;div class="progress" style="width: 40%;"&gt;40%&lt;/div&gt;
        &lt;/div&gt;
      </pre
    >
    <button class="copy-btn" onclick="copyToClipboard(this)">Copiar</button>
  </div>
</section>
